* {
  font-family: monospace;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding: 0;
  margin: 0;
}

#title {
  font-size: 48px;
}

.outer-card {
  padding: 20px;
  border: 1px solid black;
  border-radius: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.header-button {
  display: flex;
  gap: 8px;
}

.header-button button {
  padding: 8px 16px;
  border-radius: 8px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
}

.grid-item {
  border: 1px solid black;
}
